<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coooking</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
          integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="assets/VueJS/vue.js"></script>
</head>
<body>


<script type="text/template" id="filtre">
    <div class="container">
        <div class="filtres-container">
            <form @submit.prevent="handleSubmit" >
                <div class="filtre">
                        <input type="checkbox" id="vegan" name="vegan" v-model="addfiltre">
                        <label for="vegan">vegan</label>
                </div>
                <div class="filtre">
                        <input type="checkbox" id="vegetarian" name="vegetarian" v-model="addfiltre">
                        <label for="vegetarian">vegetarian</label>
                </div>
                <div class="filtre">
                        <input type="checkbox" id="glutenFree" name="glutenFree" v-model="addfiltre">
                        <label for="glutenFree">glutenFree</label>
                </div>
                <div class="filtre">
                        <input type="checkbox" id="veryPopular" name="veryPopular" v-model="addfiltre">
                        <label for="veryPopular">veryPopular</label>
                </div>
                <div class="filtre">
                        <input type="checkbox" id="veryHealthy" name="veryHealthy" v-model="addfiltre">
                        <label for="veryHealthy">veryHealthy</label>
                </div>
            </form>
        </div>
    </div>
</script>


<app></app>
<script type="module" src="src/omdb.js"></script>
<script type="module" src="src/components/detail.js"></script>
<script type="module" src="src/components/filtres.js"></script>
<script type="module" src="src/components/search.js"></script>
<script type="module" src="src/components/recipe.js"></script>
<script type="module" src="src/components/app.js"></script>
<script type="module" src="src/main.js"></script>
</body>
</html>
