<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coooking</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
          integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="assets/VueJS/vue.js"></script>
</head>
<body>


<script type="text/template" id="filtre">
    <div class="filter-wrapper">
        <div class="tab-filter">
            <form >
                <div class="filter-item">
                    <h4>Country</h4>
                    <div class="filter">
                        <input type="checkbox" id="African" name="pays" v-model="African">
                        <label for="African">African</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="American" name="pays" v-model="American">
                        <label for="American">American</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="British" name="pays" v-model="British">
                        <label for="British">British</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="Cajun" name="pays" v-model="Cajun">
                        <label for="Cajun">Cajun</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="Caribbean" name="pays" v-model="Caribbean">
                        <label for="Caribbean">Caribbean</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="Chinese" name="pays" v-model="Chinese">
                        <label for="Chinese">Chinese</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="Eastern_European" name="pays" v-model="Eastern_European">
                        <label for="Eastern_European">Eastern European</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="France" name="pays" v-model="France">
                        <label for="France">France</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="German" name="pays" v-model="German">
                        <label for="German">German</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="Greek" name="pays" v-model="Greek">
                        <label for="Greek">Greek</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="Indian" name="pays" v-model="Indian">
                        <label for="Indian">Indian</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="Irish" name="pays" v-model="Irish">
                        <label for="Irish">Irish</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="Italian" name="pays" v-model="Italian">
                        <label for="Italian">Italian</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="Japanese" name="pays" v-model="Japanese">
                        <label for="Japanese">Japanese</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="Jewish" name="pays" v-model="Jewish">
                        <label for="Jewish">Jewish</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="Korean" name="pays" v-model="Korean">
                        <label for="Korean">Korean</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="Latin_American" name="pays" v-model="Latin_American">
                        <label for="Latin_American">Latin American</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="Mediterranean" name="pays" v-model="Mediterranean">
                        <label for="Mediterranean">Mediterranean</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="Mexican" name="pays" v-model="Mexican">
                        <label for="Mexican">Mexican</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="Middle_Eastern" name="pays" v-model="Middle_Eastern">
                        <label for="Middle_Eastern">Middle Eastern</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="Nordic" name="pays" v-model="Nordic">
                        <label for="Nordic">Nordic</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="Southern" name="pays" v-model="Southern">
                        <label for="Southern">Southern</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="Spanish" name="pays" v-model="Spanish">
                        <label for="Spanish">Spanish</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="Thai" name="pays" v-model="Thai">
                        <label for="Thai">Thai</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="Vietnamese" name="pays" v-model="Vietnamese">
                        <label for="Vietnamese">Vietnamese</label>
                    </div>
                </div>
                <div class="filter-item">
                    <h4>Diets</h4>
                    <div class="filter">
                        <input type="radio" id="vegan" name="diet" v-model="vegan">
                        <label for="vegan">Vegan</label>
                    </div>
                    <div class="filter">
                        <input type="radio" id="vegetarian" name="diet" v-model="vegetarian">
                        <label for="vegetarian">Vegetarian</label>
                    </div>
                    <div class="filter">
                        <input type="radio" id="paleo" name="diet" v-model="paleo">
                        <label for="paleo">Paleo</label>
                    </div>
                    <div class="filter">
                        <input type="radio" id="Ketogenic" name="diet" v-model="Ketogenic">
                        <label for="Ketogenic">Ketogenic</label>
                    </div>
                    <div class="filter">
                        <input type="radio" id="primal" name="diet" v-model="primal">
                        <label for="primal">Primal</label>
                    </div>
                    <div class="filter">
                        <input type="radio" id="whole30" name="diet" v-model="whole30">
                        <label for="whole30">Whole 30</label>
                    </div>
                </div>
                <div class="filter-item">
                    <h4>Intolerances</h4>
                    <div class="filter">
                        <input type="checkbox" id="dairy" name="dairy" v-model="dairy">
                        <label for="dairy">Dairy Free</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="peanut" name="peanut" v-model="peanut">
                        <label for="peanut">Peanut Free</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="soy" name="soy" v-model="soy">
                        <label for="soy">Soy Free</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="egg" name="egg" v-model="egg">
                        <label for="egg">Egg Free</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="seafood" name="seafood" v-model="seafood">
                        <label for="seafood">Seafood Free</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="sulfite" name="sulfite" v-model="sulfite">
                        <label for="sulfite">Sulfite Free</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="gluten" name="gluten" v-model="gluten">
                        <label for="gluten">Gluten Free</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="sesame" name="sesame" v-model="sesame">
                        <label for="sesame">Sesame Free</label>
                    </div>
                    <div class="filtre">
                        <input type="checkbox" id="tree-nut" name="tree-nut" v-model="treenut">
                        <label for="tree-nut">TreeNut Free</label>
                    </div>
                    <div class="filtre">
                        <input type="checkbox" id="Wheat" name="Wheat" v-model="Wheat">
                        <label for="Wheat">Wheat Free</label>
                    </div>
                </div>
                <div class="filter-item">
                    <h4>Calories</h4>
                    <div class="filter">
                        <label for="CaloriesMin">CaloriesMin : (between 0 and 50)</label>
                        <input type="range" min="0" max="50" id="CaloriesMin" name="CaloriesMin" v-model="CaloriesMin">
                    </div>
                    <div class="filter">
                        <label for="CaloriesMax">CaloriesMax : (between 50 and 800)</label>
                        <input type="range" min="50" max="800" id="CaloriesMax" name="CaloriesMax" v-model="CaloriesMax">
                    </div>
                </div>
            </form>
            <form @submit.prevent="handleSubmit">
                <input type="submit" value="Filtrer" class="btn"/>
            </form>
        </div>
    </div>
</script>


<app></app>
<script type="module" src="src/omdb.js"></script>
<script type="module" src="src/components/detail.js"></script>
<script type="module" src="src/components/filtres.js"></script>
<script type="module" src="src/components/search.js"></script>
<script type="module" src="src/components/recipe.js"></script>
<script type="module" src="src/components/app.js"></script>
<script type="module" src="src/main.js"></script>
</body>
</html>
